/* Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    padding-left: 10px;
    list-style-position: inside;
}

/* Common */

body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

/* Header */

header {background-color: #fff;}
.logo {padding: 10px 20px;}
.logo img {vertical-align: middle;}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/* Main */

.main-container {
    border-radius: 5px;
    min-width: 800px;
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
}

/* Top Bar */

.top-bar {
    border-bottom: 1px solid lightgrey;
    padding: 20px 40px;
}

.btn {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
}

.btn-blue {
    background-color: #47ADF1;
    color: #fff;
}

.btn-brd-grey {
    background-color: #fff;
    color: lightgrey;
    border-color: lightgrey;
}

/* Main Content */

.main-content {padding: 20px;}

.ul-category li {
    list-style-type: square;
    margin: 20px auto;
}

.ul-category li h3 {
    display: inline-block;
}

/* Ul Li Box Models */
li.v-box {list-style-type: "\2611";}
li.x-box {list-style-type: "\2612";}

/* Badge Models */
.badge {
   font-size: 0.6em;
   font-weight: bold;
   background-color: gray;
   padding: 5px;
   border-radius: 5px; 
   color: #fff;
}

.badge.bg-editorial {background-color: #45ABEA;}
.badge.bg-q1goals {background-color: #9C72E4;}
.badge.bg-recruiting {background-color: #64C0A9;}
.badge.bg-mobile {background-color: #F29E33;}
.badge.bg-website {background-color: #D863A1;}
.badge.bg-sales {background-color: #B0C926;}


